In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [5]:
data = pd.read_csv('masterCSVfmfull.csv')

In [6]:
agg_gpd_suno = data.groupby('gdp_per_capita ($)')['suicides_no'].agg(['sum', 'mean', 'count'])
agg_gpd_suno = agg_gpd_suno.reset_index()

In [7]:
#ftl1= (agg_pop['year'] != 2016)
#agg_pop = agg_pop.loc[ftl1, ['gdp_per_capita ($)', 'sum', 'mean','count']]

In [8]:
agg_gpd_suno

      gdp_per_capita ($)     sum        mean  count
0                  251.0    47.0    3.916667     12
1                  291.0   556.0   46.333333     12
2                  313.0   510.0   42.500000     12
3                  345.0   560.0   46.666667     12
4                  357.0   106.0    8.833333     12
5                  359.0   567.0   47.250000     12
6                  385.0    83.0    6.916667     12
7                  387.0   112.0    9.333333     12
8                  398.0   509.0   42.416667     12
9                  424.0   479.0   39.916667     12
10                 425.0   605.0   50.416667     12
11                 426.0   130.0   10.833333     12
12                 428.0  1576.0  131.333333     12
13                 431.0  5668.0  472.333333     12
14                 435.0   496.0   41.333333     12
15                 437.0   654.0   27.250000     24
16                 441.0  1416.0  118.000000     12
17                 454.0  5345.0  445.416667     12
18                 458.0    87.0    7.250000     12
19                 459.0   480.0   40.000000     12
20                 462.0    49.0    4.083333     12
21                 465.0    77.0    6.416667     12
22                 476.0    69.0    5.750000     12
23                 484.0   438.0   36.500000     12
24                 508.0    47.0    3.916667     12
25                 513.0  1914.0  159.500000     12
26                 514.0   105.0    8.750000     12
27                 515.0    67.0    5.583333     12
28                 516.0  1251.0  104.250000     12
29                 528.0   563.0   46.916667     12
...                  ...     ...         ...    ...
2203             84442.0   355.0   29.583333     12
2204             85394.0   573.0   47.750000     12
2205             85397.0    49.0    4.083333     12
2206             86068.0  1073.0   89.416667     12
2207             87951.0  1038.0   86.500000     12
2208             87961.0    33.0    2.750000     12
2209             89634.0  1071.0   89.250000     12
2210             90490.0    50.0    4.166667     12
2211             90797.0   485.0   40.416667     12
2212             90809.0  1032.0   86.000000     12
2213             91587.0    55.0    4.583333     12
2214             93053.0  1034.0   86.166667     12
2215             93066.0    37.0    3.083333     12
2216             93270.0    43.0    3.583333     12
2217             93638.0   548.0   45.666667     12
2218             95351.0    65.0    5.416667     12
2219            103431.0   505.0   42.083333     12
2220            103443.0   548.0   45.666667     12
2221            107430.0   598.0   49.833333     12
2222            107456.0    64.0    5.333333     12
2223            108408.0   515.0   42.916667     12
2224            109483.0    48.0    4.000000     12
2225            109804.0   554.0   46.166667     12
2226            111328.0    54.0    4.500000     12
2227            112581.0    78.0    6.500000     12
2228            113120.0    51.0    4.250000     12
2229            120423.0    40.0    3.333333     12
2230            121315.0    43.0    3.583333     12
2231            122729.0    55.0    4.583333     12
2232            126352.0    67.0    5.583333     12

[2233 rows x 4 columns]

In [17]:
flt = (agg_gpd_suno['gdp_per_capita ($)'] > 0) & (agg_gpd_suno['gdp_per_capita ($)'] <= 12000)
fltrtd =agg_gpd_suno.loc[flt, ['gdp_per_capita ($)', 'sum']]
fltrtd['sum'].mean()

2329.8732510288064

In [18]:
flt = (agg_gpd_suno['gdp_per_capita ($)'] > 12000) & (agg_gpd_suno['gdp_per_capita ($)'] <= 24000)
fltrtd =agg_gpd_suno.loc[flt, ['gdp_per_capita ($)', 'sum']]
fltrtd['sum'].mean()

2665.8120481927713

In [19]:
flt = (agg_gpd_suno['gdp_per_capita ($)'] > 24000) & (agg_gpd_suno['gdp_per_capita ($)'] <= 36000)
fltrtd =agg_gpd_suno.loc[flt, ['gdp_per_capita ($)', 'sum']]
fltrtd['sum'].mean()

3944.0284697508896

In [20]:
flt = (agg_gpd_suno['gdp_per_capita ($)'] > 36000) & (agg_gpd_suno['gdp_per_capita ($)'] <= 48000)
fltrtd =agg_gpd_suno.loc[flt, ['gdp_per_capita ($)', 'sum']]
fltrtd['sum'].mean()

7604.0496453900705

In [21]:
flt = (agg_gpd_suno['gdp_per_capita ($)'] > 48000) & (agg_gpd_suno['gdp_per_capita ($)'] <= 60000)
fltrtd =agg_gpd_suno.loc[flt, ['gdp_per_capita ($)', 'sum']]
fltrtd['sum'].mean()

5242.796116504855

In [22]:
flt = (agg_gpd_suno['gdp_per_capita ($)'] > 60000) & (agg_gpd_suno['gdp_per_capita ($)'] <= 72000)
fltrtd =agg_gpd_suno.loc[flt, ['gdp_per_capita ($)', 'sum']]
fltrtd['sum'].mean()

2024.5

In [23]:
flt = (agg_gpd_suno['gdp_per_capita ($)'] > 72000) & (agg_gpd_suno['gdp_per_capita ($)'] <= 84000)
fltrtd =agg_gpd_suno.loc[flt, ['gdp_per_capita ($)', 'sum']]
fltrtd['sum'].mean()

804.7857142857143

In [24]:
flt = (agg_gpd_suno['gdp_per_capita ($)'] > 84000) & (agg_gpd_suno['gdp_per_capita ($)'] <= 96000)
fltrtd =agg_gpd_suno.loc[flt, ['gdp_per_capita ($)', 'sum']]
fltrtd['sum'].mean()

471.3125

In [25]:
flt = (agg_gpd_suno['gdp_per_capita ($)'] > 96000) & (agg_gpd_suno['gdp_per_capita ($)'] <= 108000)
fltrtd =agg_gpd_suno.loc[flt, ['gdp_per_capita ($)', 'sum']]
fltrtd['sum'].mean()

428.75

In [26]:
flt = (agg_gpd_suno['gdp_per_capita ($)'] > 108000) & (agg_gpd_suno['gdp_per_capita ($)'] <= 120000)
fltrtd =agg_gpd_suno.loc[flt, ['gdp_per_capita ($)', 'sum']]
fltrtd['sum'].mean()

216.66666666666666

In [27]:
flt = (agg_gpd_suno['gdp_per_capita ($)'] > 120000)
fltrtd =agg_gpd_suno.loc[flt, ['gdp_per_capita ($)', 'sum']]
fltrtd['sum'].mean()

51.25

In [11]:
data['gdp_per_capita ($)'].max()

126352.0

In [12]:
data['gdp_per_capita ($)'].min()

251.0

In [21]:
data.columns

Index(['sex', 'country', 'year', 'age', 'generation', 'suicides_no',
       'population', 'suicides/100k pop', 'HDI for year', 'gdp_for_year ($) ',
       'gdp_per_capita ($)'],
      dtype='object')