In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_csv('masterCSVfmfull.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38784 entries, 0 to 38783
Data columns (total 11 columns):
sex                   38784 non-null object
country               38784 non-null object
year                  38784 non-null int64
age                   38784 non-null object
generation            27820 non-null object
suicides_no           27820 non-null float64
population            27820 non-null float64
suicides/100k pop     27820 non-null float64
HDI for year          8364 non-null float64
gdp_for_year ($)      27820 non-null float64
gdp_per_capita ($)    27820 non-null float64
dtypes: float64(6), int64(1), object(4)
memory usage: 3.3+ MB

In [4]:
print(data.shape)
print(data.columns)
print(data.index)

(38784, 11)
Index(['sex', 'country', 'year', 'age', 'generation', 'suicides_no',
       'population', 'suicides/100k pop', 'HDI for year', 'gdp_for_year ($) ',
       'gdp_per_capita ($)'],
      dtype='object')
RangeIndex(start=0, stop=38784, step=1)

In [5]:
data.describe()

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_for_year ($),gdp_per_capita ($)
count,38784.000000,27820.000000,2.782000e+04,27820.000000,8364.000000,2.782000e+04,27820.000000
mean,2000.500000,242.574407,1.844794e+06,12.816097,698.171765,4.455810e+11,16866.464414
std,9.233212,902.047917,3.911779e+06,18.961511,247.902248,1.453610e+12,18887.576472
min,1985.000000,0.000000,2.780000e+02,0.000000,0.630000,4.691962e+07,251.000000
25%,1992.750000,3.000000,9.749850e+04,0.920000,673.000000,8.985353e+09,3447.000000
50%,2000.500000,25.000000,4.301500e+05,5.990000,765.000000,4.811469e+10,9372.000000
75%,2008.250000,131.000000,1.486143e+06,16.620000,844.000000,2.602024e+11,24874.000000
max,2016.000000,22338.000000,4.380521e+07,224.970000,944.000000,1.812071e+13,126352.000000