In [122]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [123]:
data = pd.read_csv('masterCSVfmfull.csv')

In [124]:
agg_mxminct = data.groupby('year')['suicides_no'].agg(['max', 'mean', 'count'])
agg_mxminct = agg_mxminct.reset_index()

In [125]:
ftl1= (agg_mxminct['year'] != 2016)
agg_mxminct = agg_mxminct.loc[ftl1, ['year', 'max', 'mean','count']]

In [126]:
agg_mxminct

    year      max        mean  count
0   1985   6962.0  201.498264    576
1   1986   7298.0  209.496528    576
2   1987   6688.0  195.743827    648
3   1988   6528.0  205.826531    588
4   1989  12030.0  256.801282    624
5   1990  12517.0  251.772135    768
6   1991  12746.0  257.838542    768
7   1992  15824.0  271.119231    780
8   1993  20256.0  284.057692    780
9   1994  22338.0  284.390931    816
10  1995  21706.0  260.196581    936
11  1996  20562.0  267.018398    924
12  1997  18973.0  260.546537    924
13  1998  18058.0  263.281646    948
14  1999  20705.0  257.147590    996
15  2000  21063.0  247.899225   1032
16  2001  21262.0  237.359848   1056
17  2002  20119.0  248.154070   1032
18  2003  18681.0  248.138566   1032
19  2004  17465.0  238.949405   1008
20  2005  15843.0  232.514881   1008
21  2006  14020.0  228.785294   1020
22  2007  13065.0  226.170543   1032
23  2008  11848.0  230.830392   1020
24  2009  11721.0  227.984082   1068
25  2010  11767.0  226.043561   1056
26  2011  11681.0  229.151163   1032
27  2012  11763.0  236.790123    972
28  2013  11396.0  232.498958    960
29  2014  11455.0  238.230769    936
30  2015  11634.0  273.709677    744

In [127]:
agg_mxminct.to_csv('agg_mxminct.csv')

In [128]:
agg_mxminct_100kpop = data.groupby('year')['suicides/100k pop'].agg(['max', 'mean', 'count'])

In [129]:
agg_mxminct_100kpoprst = agg_mxminct_100kpop.reset_index()

In [130]:
ftl= (agg_mxminct_100kpoprst['year'] != 2016)

In [131]:
agg_mxminct_100kpoprst = agg_mxminct_100kpoprst.loc[ftl, ['year', 'max', 'mean','count']]

In [132]:
agg_mxminct_100kpoprst.to_csv('agg_mxminct_100kpoprst.csv')

In [133]:
#agg_mxminct_100kpop = data.groupby('year')['gdp_per_capita ($)'].agg(['max', 'min', 'count'])

In [134]:
agg_mxminct_100kpoprst

    year     max       mean  count
0   1985  144.65  11.826198    576
1   1986  123.72  11.423333    576
2   1987  131.87  11.644213    648
3   1988  138.89  12.709405    588
4   1989  122.41  12.879071    624
5   1990  150.00  12.862956    768
6   1991  176.91  13.438880    768
7   1992  177.61  13.498564    780
8   1993  177.57  13.833705    780
9   1994  176.26  14.073272    816
10  1995  224.97  15.662671    936
11  1996  151.33  15.305422    924
12  1997  161.92  14.954361    924
13  1998  125.78  14.926920    948
14  1999  162.67  14.532038    996
15  2000  144.15  13.941328   1032
16  2001  144.71  13.519138   1056
17  2002  157.48  13.786550   1032
18  2003  170.86  13.205019   1032
19  2004  172.80  12.481944   1008
20  2005  176.33  12.068442   1008
21  2006  204.92  11.927461   1020
22  2007  172.86  12.025339   1032
23  2008  154.92  11.907686   1020
24  2009  173.86  11.400787   1068
25  2010  182.32  11.215900   1056
26  2011  185.37  11.015349   1032
27  2012  187.06  11.421718    972
28  2013  147.59  11.107958    960
29  2014  124.45  11.011464    936
30  2015  140.74  11.094073    744

In [135]:
data.columns

Index(['sex', 'country', 'year', 'age', 'generation', 'suicides_no',
       'population', 'suicides/100k pop', 'HDI for year', 'gdp_for_year ($) ',
       'gdp_per_capita ($)'],
      dtype='object')